<a href="https://colab.research.google.com/github/Nicht-gefunden/-/blob/master/prepprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd 
import nltk
from nltk.corpus import stopwords
#import Tokenizer
from nltk.tokenize import RegexpTokenizer
#Import Lemmatizer
from nltk.stem import WordNetLemmatizer
# Import Stemmer
from nltk.stem.porter import PorterStemmer
nltk.download('words')
pd.set_option('max_colwidth', -1)

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  # This is added back by InteractiveShellApp.init_path()

In [4]:
df = pd.read_csv('https://github.com/tmu-nlp/sscorpus/blob/master/sscorpus.gz?raw=true', compression='gzip', sep='\t',header = None,error_bad_lines=False)
df.columns = ['Target Sentence', 'Source Sentence','Score']
df.head(5)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Target Sentence  ...     Score
0  Following the revolution , he organized the first election process in Egyptian universities to choose his successor as Dean of the Faculty in March 2011 , as he left the country on 15 May 2011 in the capacity of cultural counselor at the Egyptian Embassy to Berlin and head of the educational mission there .                                                                                                                                                                          ...  0.999061
1  Other nearby towns include Haywards Heath to the north east and Lewes , the county town of East Sussex , to the south east .                                                                                                                                                                                                                                                                                                                                                                  ...  0.998915
2  The project comprised Mei Foo Interchange ( modification of the existing Mei Foo station on the Tsuen Wan Line to provide a pedestrian link to the West Rail Line Mei Foo Station ) ; Nam Cheong Station ( an interchange station on the Tung Chung Line , jointly operated by the MTRCL and KCRC ) and quadruplication works ( the additional two tracks , in length , allow the Tung Chung Line trains to stop at Nam Cheong without obstructing the passage of Airport Express trains ) .  ...  0.998909
3  Pepsi encouraged price-watching consumers to switch , obliquely referring to the Coca-Cola standard of 6.5 ounces per bottle for the price of five cents ( a nickel ) , instead of the 12 ounces Pepsi sold at the same price .                                                                                                                                                                                                                                                               ...  0.998829
4  In Britain , musical comedian Mitch Benn has performed four songs about Knut for BBC Radio 4 satirical series `` The Now Show '' : `` The Baby Bear Must DIE !                                                                                                                                                                                                                                                                                                                                ...  0.998814

[5 rows x 3 columns]

In [ ]:
df.shape

(492993, 3)

In [5]:
df.tail(5)

                                                                                                                                                                                                                                     Target Sentence  ...     Score
492988  He was elected to Rajya Sabha in 1996 .                                                                                                                                                                                                       ...  0.533828
492989  The expression is not a polynomial because it includes division by a non-constant polynomial .                                                                                                                                                ...  0.533828
492990  Ithaca is in the rural Finger Lakes region about northwest of New York City ; the nearest larger cities , Binghamton and Syracuse , are an hour 's drive away by car , Rochester and Scranton are two hours , Buffalo and Albany are three .  ...  0.533828
492991  The number of domino tilings of a 2×2 checkerboard is 2 .                                                                                                                                                                                     ...  0.533827
492992  Apple snails include species that are the biggest living freshwater snails on Earth .                                                                                                                                                         ...  0.533827

[5 rows x 3 columns]

In [6]:
df_filtered = df[df['Score'] < 0.54]
df_filtered.shape

(23464, 3)

In [7]:
df_filtered

                                                                                                                                                                                                                                     Target Sentence  ...     Score
469529  The main road west is the A35 to Honiton in Devon which runs through the South East Dorset Conurbation and continues east as far as Southampton , albeit as a non-primary route .                                                             ...  0.540000
469530  In the California State Senate , Irvine is in .                                                                                                                                                                                               ...  0.540000
469531  In the California State Legislature , Woodland is in , and .                                                                                                                                                                                  ...  0.540000
469532  In the California State Legislature , Whittier is in , and in .                                                                                                                                                                               ...  0.540000
469533  In the California State Legislature , Sonoma is in , and in .                                                                                                                                                                                 ...  0.540000
...                                                               ...                                                                                                                                                                                 ...       ...
492988  He was elected to Rajya Sabha in 1996 .                                                                                                                                                                                                       ...  0.533828
492989  The expression is not a polynomial because it includes division by a non-constant polynomial .                                                                                                                                                ...  0.533828
492990  Ithaca is in the rural Finger Lakes region about northwest of New York City ; the nearest larger cities , Binghamton and Syracuse , are an hour 's drive away by car , Rochester and Scranton are two hours , Buffalo and Albany are three .  ...  0.533828
492991  The number of domino tilings of a 2×2 checkerboard is 2 .                                                                                                                                                                                     ...  0.533827
492992  Apple snails include species that are the biggest living freshwater snails on Earth .                                                                                                                                                         ...  0.533827

[23464 rows x 3 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

### Data Cleansing & Preprocessing

In [8]:
dfcs54 = df_filtered['Target Sentence']
dfcs54

469529    The main road west is the A35 to Honiton in Devon which runs through the South East Dorset Conurbation and continues east as far as Southampton , albeit as a non-primary route .
469530    In the California State Senate , Irvine is in .
469531    In the California State Legislature , Woodland is in , and .
469532    In the California State Legislature , Whittier is in , and in .
469533    In the California State Legislature , Sonoma is in , and in .
                                      ...
492988    He was elected to Rajya Sabha in 1996 .
492989    The expression is not a polynomial because it includes division by a non-constant polynomial .
492990    Ithaca is in the rural Finger Lakes region about northwest of New York City ; the nearest larger cities , Binghamton and Syracuse , are an hour 's drive away by car , Rochester and Scranton are two hours , Buffalo and Albany are three .
492991    The number of domino tilings of a 2×2 checkerboard is 2 .
492992    Apple snails include species that are the biggest living freshwater snails on Earth .
Name: Target Sentence, Length: 23464, dtype: object

In [9]:
dfss54=df_filtered['Source Sentence']
dfss54

469529    It is the biggest town in Dorset .
469530    Irvine ( ) is a city in Orange County , California , United States .
469531    Woodland is a city in Yolo County , California , United States .
469532    Whittier is a city in Los Angeles County , California , USA .
469533    Sonoma is a historic city in Sonoma County , California , United States .
                                            ...
492988    He was a member of the Bharatiya Janata Party ( BJP ) .
492989    A polynomial is an easy-to-use algebraic expression .
492990    Ithaca is a city in upstate New York , America .
492991    It is the number after 1 and the number before 3 .
492992    They are one of the only species of snails that are not hermaphrodites .
Name: Source Sentence, Length: 23464, dtype: object

In [10]:
# Tokenizer
tokenizer = RegexpTokenizer('\w+|\$[\d\.]+|\S+')

In [11]:
dfcs54 =  dfcs54.apply(lambda x: tokenizer.tokenize(x.lower()))
dfcs54

469529    [the, main, road, west, is, the, a35, to, honiton, in, devon, which, runs, through, the, south, east, dorset, conurbation, and, continues, east, as, far, as, southampton, ,, albeit, as, a, non, -primary, route, .]
469530    [in, the, california, state, senate, ,, irvine, is, in, .]
469531    [in, the, california, state, legislature, ,, woodland, is, in, ,, and, .]
469532    [in, the, california, state, legislature, ,, whittier, is, in, ,, and, in, .]
469533    [in, the, california, state, legislature, ,, sonoma, is, in, ,, and, in, .]
                                             ...
492988    [he, was, elected, to, rajya, sabha, in, 1996, .]
492989    [the, expression, is, not, a, polynomial, because, it, includes, division, by, a, non, -constant, polynomial, .]
492990    [ithaca, is, in, the, rural, finger, lakes, region, about, northwest, of, new, york, city, ;, the, nearest, larger, cities, ,, binghamton, and, syracuse, ,, are, an, hour, 's, drive, away, by, car, ,, rochester, and, scranton, are, two, hours, ,, buffalo, and, albany, are, three, .]
492991    [the, number, of, domino, tilings, of, a, 2, ×2, checkerboard, is, 2, .]
492992    [apple, snails, include, species, that, are, the, biggest, living, freshwater, snails, on, earth, .]
Name: Target Sentence, Length: 23464, dtype: object

In [12]:
dfss54=  dfss54.apply(lambda x: tokenizer.tokenize(x.lower()))
dfss54

469529    [it, is, the, biggest, town, in, dorset, .]
469530    [irvine, (, ), is, a, city, in, orange, county, ,, california, ,, united, states, .]
469531    [woodland, is, a, city, in, yolo, county, ,, california, ,, united, states, .]
469532    [whittier, is, a, city, in, los, angeles, county, ,, california, ,, usa, .]
469533    [sonoma, is, a, historic, city, in, sonoma, county, ,, california, ,, united, states, .]
                                                    ...
492988    [he, was, a, member, of, the, bharatiya, janata, party, (, bjp, ), .]
492989    [a, polynomial, is, an, easy, -to-use, algebraic, expression, .]
492990    [ithaca, is, a, city, in, upstate, new, york, ,, america, .]
492991    [it, is, the, number, after, 1, and, the, number, before, 3, .]
492992    [they, are, one, of, the, only, species, of, snails, that, are, not, hermaphrodites, .]
Name: Source Sentence, Length: 23464, dtype: object

In [13]:
from collections import Counter
Counter(dfcs54[492992])

Counter({'.': 1,
         'apple': 1,
         'are': 1,
         'biggest': 1,
         'earth': 1,
         'freshwater': 1,
         'include': 1,
         'living': 1,
         'on': 1,
         'snails': 2,
         'species': 1,
         'that': 1,
         'the': 1})

In [14]:
from collections import Counter
Counter(dfss54[492992])

Counter({'.': 1,
         'are': 2,
         'hermaphrodites': 1,
         'not': 1,
         'of': 2,
         'one': 1,
         'only': 1,
         'snails': 1,
         'species': 1,
         'that': 1,
         'the': 1,
         'they': 1})

In [15]:
def intersect(list1, list2):
    cnt1 = Counter()
    cnt2 = Counter()
    for tk1 in list1:
        #print("cs",list1)
        cnt1[tk1] += 1
    for tk2 in list2:
        #print("ss",list2)
        cnt2[tk2] += 1
        inter = cnt1 & cnt2
    return (list(inter.elements()))

In [16]:
xInt = intersect(dfcs54[492992],dfss54[492992])

In [17]:
xInt

['snails', 'species', 'that', 'are', 'the', '.']

In [18]:
zSym = set(dfcs54[492992]).symmetric_difference(set(dfss54[492992]))
zSym

{'apple',
 'biggest',
 'earth',
 'freshwater',
 'hermaphrodites',
 'include',
 'living',
 'not',
 'of',
 'on',
 'one',
 'only',
 'they'}

In [ ]:
set(dfcs54[492992])

{'.',
 'apple',
 'are',
 'biggest',
 'earth',
 'freshwater',
 'include',
 'living',
 'on',
 'snails',
 'species',
 'that',
 'the'}

In [19]:
# Return difference between ss and cs
# we will find out set of element in cs present and not present in ss
zDiff = set(dfcs54[492992]).difference(set(dfss54[492992]))
zDiff

{'apple', 'biggest', 'earth', 'freshwater', 'include', 'living', 'on'}

In [20]:
dfss54[492992]

['they',
 'are',
 'one',
 'of',
 'the',
 'only',
 'species',
 'of',
 'snails',
 'that',
 'are',
 'not',
 'hermaphrodites',
 '.']

In [ ]:
dfcs54[492992]

['apple',
 'snails',
 'include',
 'species',
 'that',
 'are',
 'the',
 'biggest',
 'living',
 'freshwater',
 'snails',
 'on',
 'earth',
 '.']

In [23]:
df['Source Sentence'][492992]

'They are one of the only species of snails that are not hermaphrodites .'

In [24]:
df['Target Sentence'][492992]

'Apple snails include species that are the biggest living freshwater snails on Earth .'